.create {
    background-image: url('https://img.freepik.com/vector-gratis/fondo-patron-huesos-huellas_1374-18.jpg?t=st=1658858821~exp=1658859421~hmac=b57d72ce60f0e2c8bed71dcde5ba68904a093950c78b03f5d6d58d0d21525f58');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 1200px;

}

.form {
    display: grid;
    justify-content: center;
    text-align: center;
    color: rgb(10, 10, 10);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    transition: 0.3s;
}

.newDog {
    font-family: "Roboto", sans-serif;
    display: flex;
    margin-top: 5px;
    justify-content: center;
    font-size: 50px;
    color: rgb(14, 13, 13);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.585);
}

#name {
    justify-content: center;
    color: rgb(2, 2, 2);
    background-color: rgba(255, 255, 255, 0.529);
    /* border: 1px solid rgba(255, 255, 255, 0.719); */
    border: 1px solid rgba(7, 7, 7, 0.707);
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    transition: 0.3s;
    cursor: text;
}

#weight-min {
    justify-content: center;
    color: rgb(2, 2, 2);
    background-color: rgba(255, 255, 255, 0.529);
    /* border: 1px solid rgba(255, 255, 255, 0.719); */
    border: 1px solid rgba(7, 7, 7, 0.707);
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    transition: 0.3s;
    cursor: text;
}

#weight-max {
    justify-content: center;
    color: rgb(2, 2, 2);
    background-color: rgba(255, 255, 255, 0.529);
    /* border: 1px solid rgba(255, 255, 255, 0.719); */
    border: 1px solid rgba(7, 7, 7, 0.707);
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    transition: 0.3s;
    cursor: text;
}

#height-min {
    justify-content: center;
    color: rgb(2, 2, 2);
    background-color: rgba(255, 255, 255, 0.529);
    /* border: 1px solid rgba(255, 255, 255, 0.719); */
    border: 1px solid rgba(7, 7, 7, 0.707);
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    transition: 0.3s;
    cursor: text;
}

#height-max {
    justify-content: center;
    color: rgb(2, 2, 2);
    background-color: rgba(255, 255, 255, 0.529);
    /* border: 1px solid rgba(255, 255, 255, 0.719); */
    border: 1px solid rgba(7, 7, 7, 0.707);
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    transition: 0.3s;
    cursor: text;
}

#life_span-min {
    justify-content: center;
    color: rgb(2, 2, 2);
    background-color: rgba(255, 255, 255, 0.529);
    /* border: 1px solid rgba(255, 255, 255, 0.719); */
    border: 1px solid rgba(7, 7, 7, 0.707);
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    transition: 0.3s;
    cursor: text;
}

#life_span-max {
    justify-content: center;
    color: rgb(2, 2, 2);
    background-color: rgba(255, 255, 255, 0.529);
    /* border: 1px solid rgba(255, 255, 255, 0.719); */
    border: 1px solid rgba(7, 7, 7, 0.707);
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    transition: 0.3s;
    cursor: text;
}

select {
    justify-content: center;
    color: rgb(224, 223, 223);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.719);
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    transition: 0.3s;
    cursor: pointer;
}

select:hover {
    background-color: #0a0b0b;
}

p {
    color: black;
    background-color: rgba(255, 0, 0, 0.323);
    border-radius: 5px;
}

.createActivity {
    font-family: "Roboto";
    font-size: 16px;
    min-width: 150px;
    height: 40px;
    color: #fff;
    padding: 10px 10px;
    font-weight: lighter;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

.createActivity:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
    background-color: rgba(0, 0, 0, 0.818);
}

.createActivity:hover:after {
    opacity: 1;
    right: 10px;
}

.createActivity:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 30px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.lista {
    display: flex;
    width: 200px;
    height: auto;
    margin: 5px;
    border-radius: 5px;
    background-color: rgba(1, 1, 1, 0.716);
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 1px 1px 5px rgb(5, 0, 0);
    color: white;
}

.closeButton{
    background-color: rgba(245, 245, 245, 0);
    border: none;
    backdrop-filter: blur(5px);
    /* border-radius: 10%; */
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closeButton:hover{
    transition-delay: 0s;
  }
  
  .closeButton:hover:after{
    opacity: 1;
    right: 10px;
  }